{% extends 'admin/admin_base.html.twig' %}

{% block body %}
    <h1>Nouvel auteur</h1>

    {{ form_start(form) }}

        {{ form_widget(form.firstName) }}
        {{ form_label(form.firstName) }}

        {{ form_widget(form.lastName) }}
        {{ form_label(form.lastName) }}

        {{ form_widget(form.deathDate) }}
        {{ form_label(form.deathDate) }}

        {{ form_widget(form.biography) }}
        {{ form_label(form.biography) }}

        {{ form_widget(form.published) }}
        {{ form_label(form.published) }}

        {{ form_widget(form.submit) }}

    {{ form_end(form) }}
{% endblock %}
