{% extends 'admin/admin_base.html.twig' %}

{% block body %}

    <h1>Modifier un livre</h1>

    {# j'affiche mon formulaire avec la fonction twig form, et en parametre le formulaire envoyé
        depuis le controleur
     #}

    {{ form_start(bookForm) }}

        {{ form_row(bookForm.resume) }}

        {{ form_row(bookForm.title) }}

        {{ form_row(bookForm.nbPages) }}

        {{ form_row(bookForm.genre) }}

        {{ form_row(bookForm.submit) }}

    {{ form_end(bookForm) }}


{% endblock %}
