{% extends 'admin/admin_base.html.twig' %}

{% block body %}

    <h1>Insérer un livre</h1>

    {# j'affiche mon formulaire avec la fonction twig form, et en parametre le formulaire envoyé
        depuis le controleur
     #}

    {# pour rendre directement tout le formulaire, on utilise la fonction twig form() #}

    {#
        pour plutôt décomposer le formulaire et avoir la main sur chaque input / label
        on utilise les fonctions form_start() et form_end pour la balise form,
        puis form_widget() et form_label() sur chacun des champs.
       Je peux utiliser en second argument de ces fonction un objet 'attr' pour
       gérer les classes, id etc des inputs
     #}
    <div>

        {{ form_start(bookForm, {'attr': {'class': 'book_form'}}) }}

            {{ form_label(bookForm.title, 'titre', {'label_attr': {'class': 'label_label'}}) }}
            {{ form_widget(bookForm.title) }}
            {{ form_errors(bookForm.title)}}

            {{ form_label(bookForm.resume) }}
            {{ form_widget(bookForm.resume, {'attr': {'class': 'input_book'}}) }}
            {{ form_errors(bookForm.resume)}}

            {{ form_label(bookForm.nbPages) }}
            {{ form_widget(bookForm.nbPages, {'attr': {'class': 'input_book'}}) }}
            {{ form_errors(bookForm.nbPages)}}

            {{ form_label(bookForm.genre) }}
            {{ form_widget(bookForm.genre, {'attr': {'class': 'input_book'}}) }}
            {{ form_errors(bookForm.genre)}}

            {{ form_label(bookForm.bookCover) }}
            {{ form_widget(bookForm.bookCover, {'attr': {'class': 'input_book'}}) }}
            {{ form_errors(bookForm.bookCover)}}

            {{ form_widget(bookForm.submit, {'attr': {'class': 'input_book'}}) }}

        {{ form_end(bookForm) }}

    </div>


{% endblock %}
