{% extends 'admin/admin_base.html.twig' %}

{% block body %}

    <main class="containerBooks">
        {% for book in books %}
            <article class="adminBook">
                <h3>{{ book.title }}</h3>
                <p>Nombre de pages : {{ book.nbPages }}</p>
                <p>Résumé : {{ book.resume }}</p>
                <a href="{{ path('admin_book_delete', {'id': book.id}) }}">Supprimer le livre</a>
                <a href="{{ path('admin_book_update', {'id': book.id}) }}">Modifier le livre</a>
            </article>
        {% endfor %}

        <a href="{{ path('admin_book_insert') }}">Insérer un livre</a>
    </main>

{% endblock %}

